::selection {
  background: #3a3a26; /* Safari */
  color: #fff; /* Safari */
}
::-moz-selection {
  background: #3a3a26;
  color: #fff;
}
.top-panel {
  background: #ffffff;
  color: #000;
}

.mobile-nav-footer {
    background: #292733;
    background: linear-gradient(45deg, #17161a, #24212a)!important;
    box-shadow: 0px 0px 3px #0000;
    position: fixed;
    z-index: 105;
    text-align: center;
    bottom: 0;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.slide-header {
  display: none;
  justify-content: start;
  align-items: center;
  height: 56px;
  min-height: 56px;
  font-weight: bold;
  color: #fff;
  background-color: #676768;
  padding-left: 24px;
  position: relative;
}
.slide-close svg {
  color: #fff;
  fill: #fff;
}
.top-panel__title {
  color: #000000 !important;
}

.top-panel__col .icon-box i {
  color: #000000 !important;
}

.top-panel__search input[type="text"] {
  background: transparent !important;
}
.fake-radio input:checked + label .option-name {
  cursor: default;
  box-shadow: 0px 0px 3px #c7c7c7;
  background: #a693ff !important;
  color: #fff !important;
}
.top-panel__search .btn {
  color: #000000 !important;
}

.top-menu__wrapper {
  border-bottom: 1px solid #d7d7d7;
  background-color: #ffffff !important;
  color: #000000 !important;
}

.more_detail_slidehome{
  color: #FFF;
  border: 1px solid #FFF;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  transition: 0.3s ease-in all;
  -webkit-transition: 0.3s ease-in all;
  -moz-transition: 0.3s ease-in all;
  -ms-transition: 0.3s ease-in all;
  -o-transition: 0.3s ease-in all;
}

.more_detail_slidehome:hover{
  background: #FFF;
  color: #212529;
}

.top-menu__wrapper a {
  color: #000000 !important;
}
.catalog-section-row {
  display: grid;
}
.product-grid-related {
  max-width: 10% !important;
}
.wtemp-dver {
  padding-top: 5px;
}

.top-menu__wrapper {
  background-color: #f5f7f9;
  height: 34px;
}
.top-blocks {
  height: 34px;
}
.slide_home_info ul{
  color: #fff;
  padding: 0;
  list-style: none;
  margin: 0;
}

.slide_home_info{
  margin-bottom: 30px;
}
.whatsapp-prod a:hover {
  color: #fff !important;
}
.found-cheaper2:hover {
  color: #fff;
}
.telephone-block {
  color: #454545;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.uni-mm-parent-title {
  color: #fff !important;
  line-height: 12px;
}
.phone-bl-h a {
  color: #454545;
  font-size: 16px;
  font-weight: 700;
}
.header-phone-callback a {
  color: #464646;
  font-size: 12px !important;
  border-bottom: 1px dashed #676271;
}
.phone-link-callback {
  font-size: 15px;
}

.phone-bl-h a:hover {
  color: #746661;
}

#small-dialog {
  display: none;
}
.input-option70 .option-image img {
  border: none;
  width: auto !important;
  height: auto !important;
}
.phone-bl-h {
  width: 100%;
  display: block;
  min-width: 150px;
  margin-bottom: -5px;
}
.menuprem-feat li {
  border: 1px solid #ddbb98;
  border-radius: 4px;
  color: #645a3b;
  padding: 6px 2px;
}
.img-footer-logo{
  max-width: 120px;
  max-height: 44px;
}
.blocklogo-footer{
  display: flex;
  align-items: center;
}
.footer_descrip_text{
  margin-left: 5px;
}
@media only screen and (max-width: 767px) {
  .catalog-section-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
  .phone-bl-h a {
    color: #ffffff !important;
    font-size: 14px;
    max-height: 160px !important;
    color: #deddeb !important;
  }
  .product-item__image a img {
  }
  .header-phone-callback a {
    color: #a1a1a1 !important;
    border-bottom: 1px dashed #bbbbbb;
  }
  .top-panels {
    box-shadow: 0 2px 3px 0 #23252c;
    color: #fff;
    background: #29272c !important;
    background: linear-gradient(45deg, #17161a, #24212a) !important;
  }
}
.ftr-cat.ftr-cat__main {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .8);
    position: relative;
}

.ftr-cat:hover span{
  background-color: rgba(0, 0, 0, .4);
}

.header-slider-catalog-gre {
  margin: 5px 0px;
  border-radius: 3px;
}
.mobile-information__icon {
  margin-right: 5px;
}

.footer-column__phone .phone-body{
  display: flex;
  align-items: center;
  font-size: initial;
  color: #a8a8a8;
  padding: 0px;
}

.icon_footer_info{
  margin-right: 5px;
}

.footer-column__open{
  display: flex;
  align-items: center;
}

.footer_pay_img{
  margin-top: 10px;
}

.phone_footermain .phone-bl-h{
  margin-bottom: 0px;
}

.home_map{
  position: relative;
}

.home_map_content{
  position: absolute;
  top: 30px;
  left: 0;
  color: #fff;
  z-index: 1000;
  max-width: 660px;
}



.gallery_contact_home a{
  max-width: 130px!important;
}

.contacts-item_phonehome a{
  color: #fff;
}

.option-btn.radio-btn .option-name {
  font-size: 10px;
  padding: 0 15px;
  background-color: #6f57130d;
  box-shadow: 0px 0px 3px #7c7c7c5e;
  border-radius: 6px;
  border: 1px dashed #a8a4a4 !important;
  color: #000;
  margin: 0px;
  display: flex;
  margin-right: 5px;
  font-weight: bold;
  align-items: center;
  line-height: 13px;
  min-height: 42px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #ddd;
}

.fake-checkbox .option-name,
.fake-radio .option-name {
  border: 1px solid #e8edef;
}
.input-option73 .option-name {
  font-size: 11px !important;
  padding: 0 5px !important;
  background: #fff !important;
  border-radius: 6px;
  color: #212529 !important;
  margin: 0 5px 8px 0 !important;
  display: flex;
  align-items: center;
  line-height: au;
  height: 52px !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.input-option73 {
  grid-template-columns: 1fr 1fr 1fr !important;
}
.phone-bl-h-callback {
  width: 100%;
  display: block;
}
.forms-inputheadcall input {
  box-shadow: inset 0 0 2px 0 #7e7e7e;
  border: 1px solid #f1e4d6;
  color: #171717;
}
.right-form {
  border: 2px solid #eceef2;
  padding: 10px;
  border-radius: 7px;
  box-shadow: inset 0 0 5px 0 #707070;
}
.uni-mm-parent-link img {
  transition: all .4s ease-in!important;
  -webkit-transition: all .4s ease-in!important;
  -moz-transition: all .4s ease-in!important;
  -ms-transition: all .4s ease-in!important;
  -o-transition: all .4s ease-in!important;
}
.uni-mm-brands-link{
  transition: all .4s ease-in!important;
  -webkit-transition: all .4s ease-in!important;
  -moz-transition: all .4s ease-in!important;
  -ms-transition: all .4s ease-in!important;
  -o-transition: all .4s ease-in!important;
}
.uni-mm-brands-link:hover .uni-mm-parent-title-light {
  transform: scale(1.1);
  color: #fff;
  text-shadow: 0px 0px 3px #000;
  z-index: 400;
}
.uni-mm-parent-title-light {
  transition: .4s all;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  -ms-transition: .4s all;
  -o-transition: .4s all;
}
.uni-mm-parent-link:hover img {
  transform: scale(1.05);
  z-index: 300;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
@media screen and (max-width: 600px) {
  .hpm-group {
    margin: 2px 0px !important;
  }
  .hpm-type-images .hpm-item {
    display: block;
    width: 25% !important;
  }
  .pagination li {
    margin: 4px !important;
  }
  .pagination > li > a,
  .pagination > li > span {
    width: 30px !important;
    height: 30px !important;
  }
  .top-panel__col .icon-box i {
    display: inline-flex;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff !important;
  }
}

.categ-block-group {
  background: #000;
}

.categ-block-group {
  background: linear-gradient(45deg, #1b1e2e, #0000005e), #00000047;
  height: 100%;
  border-radius: 5px;
  padding: 12px;
  min-height: 90px;
  display: block;
}
.forms-inputprod input {
  width: 100%;
  line-height: 33px;
  border-radius: 5px;
  border: 1px solid #8f8b8b;
}
.related-products .product-item__price {
  text-align: center;
}

#uni_menu_mobile_button {
  box-shadow: 0 2px 3px 0 #5b5e66;
  color: #fff;
  background: #29272c !important;
  background: linear-gradient(45deg, #17161a, #24212a) !important;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
}

.related-products .catalog-section-item {
  box-shadow: 0px 0px 1px #1f1f20;
}

.hpm-type-images .hpm-item {
  max-width: 20% !important;
}
.fake-checkbox input:checked + label .option-name,
.fake-radio input:checked + label .option-name {
  border-color: #57511e;
  color: #57511e;
  font-weight: bold;
  background: rgba(255, 103, 0, 0.05);
}
.forms-inputprod {
  width: 30%;
  margin-right: 3%;
  float: left;
  display: block;
  position: relative;
}
@media screen and (min-width: 600px) {
  .mobile-nav-footer {
    display: none;
  }
  #product-category:after
  .catalog-section-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }
  
  #product-category:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* BG background: linear-gradient(45deg, #0d0d11, #232036ad, #0a0a0c) !important;*/
    /* B display: block;*/
    display: none;
    z-index: 0;
  }
  .btn-addtools button,
  .product-share .dropdown-toggle {
    width: 49% !important;
    margin-right: 1% !important;
  }

  .form-control-radio-wtr {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }

  .input-option45 {
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-gap: 5px;
    font-weight: bold;
  }

  .input-option70 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }
}
@media screen and (max-width: 600px) {
  .product-item__icons {
    position: absolute;
    opacity: 0.6;
  }
  .input-option70 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
  }
  .input-option45 {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  .product-item__delay i {
    font-size: 16px;
  }
  .top-panel__title {
    color: #ffffff !important;
    padding-top: 4px;
    line-height: normal;
    transition: all 0.1s;
    font-size: 14px;
  }
  .product-twobl {
    width: 50%;
    float: left;
  }
  #product-category{
    position: relative;
    margin-bottom: 20px;
  }
  #product-category:after{
    content: "";
    position: absolute;
    z-index: 0;
  }

  .footer-column__title {
    min-height: 36px;
  }
  .qpo-table td {
    width: 50%;
    font-size: inherit;
  }

  .qpo-table .text-right {
    display: none;
  }
  #input-option45 {
    grid-template-columns: 1fr 1fr !important;
    grid-column-gap: 7px;
    font-weight: bold;
  }
  .categ114 {
    display: block;
  }
  
  #boc_order {
    top: 12%;
  }
  .site-footer {
    margin-bottom: 42px !important;
  }
  .mainbrandblock1 {
    margin-bottom: 4px;
    font-size: 12px;
  }
  .mainbrandblock2 {
    font-size: 10px;
  }
  .catalog-mainbrend_ahref {
    border: 1px solid #6e6e6e;
    background: #a7a7a7a1;
    background: linear-gradient(45deg, #504d4d, #9786862e);
    border-radius: 4px;
    float: left;
    width: 100%;
    padding: 3px;
    margin: 0px !important;
    margin-top: 5px !important;
    text-align: center;
  }
  .categ-block-group {
    padding: 8px;
    min-height: 98px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #413c63;
  }
  .alert i {
    margin-top: 20px !important;
    color: #ffffff !important;
    background-color: #ae9336 !important;
    background: linear-gradient(45deg, #f7cd68, #7f6e25b3) !important;
  }

  .header-slider-catalog-gre span {
    display: block;
    background-color: #5c5854;
    background: linear-gradient(45deg, #32302e, #a9a9a9);
    box-shadow: 0px 0px 5px #4c4c4c;
    text-shadow: 0px 0px 3px #2a2a2a;
    padding: 4px;
    color: #fff;
    width: 100%;
  }
  #content {
    padding-right: 3px;
    padding-left: 3px;
  }
  .prodname {
    min-height: 30px;
    max-height: 52px;
  }
  .wtemp-dver .image-wrap {
    height: 242px;
  }
  .nav-item-wrapper a {
    padding: 5px;
  }
  .product-price__current {
    font-size: 13px !important;
  }
  .product-grid-related {
    max-width: 25% !important;
  }
  .prodname {
    font-size: 10px;
  }
  .attrdelll {
    font-size: 8px;
  }
  .catalog-items-block {
    padding: 0px !important;
  }
  .modal-header {
    padding: 0px;
  }
  .slide-home-sect:before {
    content: "";
    background-color: #000;
    opacity: 0.7 !important;
  }
  .product-grid-related {
    max-width: 25% !important;
  }
  .wtemp-dver .image-wrap {
    min-height: 194px;
  }
  .scroll-up {
    bottom: 70px !important;
    left: 5px;
    height: 36px;
    width: 36px;
    right: 0px;
  }
  .catalog-grid-column-gap {
    grid-column-gap: 0px !important;
  }
  .catalog-grid {
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .hc-offcanvas-nav li.nav-parent .nav-item-link:not(:last-child) {
    margin-right: 35px;
  }
  .scroll-fixed {
    bottom: 78px;
  }
  .header-slider-catalog-ld {
    width: 100%;
    background: orange;
  }
  .catalog-row-gap {
    grid-row-gap: 10px !important;
  }
  .nav-item {
    background: #fff;
    min-height: 42px;
  }
  .home-poster-slick-item-content {
    width: 100%;
    padding-top: 25px;
    height: 440px;
  }
  .header-middle {
    padding: 0px !important;
  }
  .home-poster-slick-item-brand {
    width: auto !important;
    height: 60px !important;
    border: solid 3px #fff !important;
    margin-bottom: 13px !important;
    text-transform: uppercase;
    text-align: left;
    padding-left: 15px !important;
    font-size: 18px !important;
    color: #f5f5f5;
    line-height: 56px !important;
  }
  .uni-menu-mobile-button-icon div.bars {
    margin: 4px auto !important;
  }
  .mobile-nav-footer > .uni-menu-mobile-button-icon {
    position: relative;
    vertical-align: middle;
    height: 100%;
    float: right;
    width: 100%;
    margin: auto;
  }
  .mobile-nav-footer .uni-menu-mobile-button-icon {
    vertical-align: middle;
    height: 100%;
    padding: 0px;
    float: right;
    width: 100%;
    margin: auto;
    right: 0px;
    top: 25%;
    position: relative;
  }
  .product-grid-related {
    max-width: 25% !important;
  }
  .option-image img {
    width: 56px !important;
    height: 38px !important;
  }
  .slick-slide img {
    max-height: 300px;
  }
  .poip_img img {
    width: 26px !important;
    height: 26px !important;
  }
  .s-menu-name h1 {
    font-size: 24px !important;
  }
  .mobile-nav-footer > #uni_menu_mobile_button {
    background: transparent !important;
  }
  .slide-home-sect:before {
    content: "";
    width: 100% !important;
    background-color: #000;
    z-index: 6;
  }
  .home_map:before{
    width: 100% !important;
    background-color: #000;
    z-index: 6;
    height: 28%;
  }
  .home_map_content{
    top: 15px;
  }
  .offcanvas-body .search-block{
    color: #fff;
  }
  .watsap_info_block i{
    color: #fff;
    font-size: 16px;
    margin-right: 3px;
  }
  .zamer_infobut{
    background: #fbd239;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    padding: 5px 10px;
    display: inline-block;
  }
  .watsap_link{
    background: #00e676;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .contacts_info_phone{
    margin-right: 15px;
  }
  .watsap_info_block{
    display: flex;
    align-items: center;
  }
  .top-panel__wrapper {
    height: auto !important;
  }
  .home-poster-slick-item-text{
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  .slide_home_info ul li{
    font-size: 14px;
  }
  .slide_home_info{
    margin-bottom: 15px;
  }
  .more_detail_slidehome{
    padding: 7px 10px;
    font-size: 12px;
  }
  .gallery_contact_home{
    display: none!important;
  }
  .home_map_content{
    padding: 0px 10px;
  }
}

.mob_info_menu{
  background: #212529;
  padding: 15px 15px 0px 15px;
}

.title_info_mob{
  color: #FFF;
  margin: 0px;
  font-size: 18px;
}

.close_mob_info{
  color: #FFF;
  border: none;
}

.close_mob_info:focus{
  box-shadow: none;
}

.head_mobinfo{
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);;
}

.gallery_contact{
  display: flex;
  align-items: center;
}

.gallery_contact a{
  max-width: 300px;
  display: block;
  margin: 5px;
}

.gallery_contact a img{
  max-width: 100%;
}

/* ZOOM */
 
.mfp-zoom-in .formdesignwtr {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8); }
 
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
 
.mfp-zoom-in.mfp-ready .formdesignwtr {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }
 
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }
 
.mfp-zoom-in.mfp-removing .formdesignwtr {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0; }
 
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

#product-category{
    position: relative;
  }

.swiper-button-next{
  background-image: none!important;
}

.swiper-button-prev{
  background-image: none!important;
}

.slide_home_info ul li{
  margin-bottom: 2px;
}

.slide_home_info ul li:nth-child(2){
  margin-bottom: 8px;
}

.info_slide_text1{
  color: #FFF;
}

.info_slide_text2{
  color: #b9b9b9;
}

.slide_home_info ul li:last-child{
  margin-bottom: 0px;
}

.swiper-button-prev:after{
  display: none;
}

.swiper-button-next:after{
  display: none;
}

.stories.carousel .story{
  width: 18vw;
}

.swiper-pagination-bullet-active{
  background: #dbdbdb!important;
}